name: ci

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'
  schedule:
    - cron: '0 15 * * *'

jobs:
  sanity:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ansible:
          - ansible-base
          - https://github.com/ansible/ansible/archive/devel.tar.gz#egg=ansible-base
    steps:
      - name: Check out code
        uses: actions/checkout@v2
        with:
          path: ansible_collections/sivel/toiletwater

      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Install ansible ${{ matrix.ansible }}
        run: |
          python -m pip install --upgrade pip
          pip install ${{ matrix.ansible }}

      - name: Debug test env
        run: |
          ansible-test env
        working-directory: ./ansible_collections/sivel/toiletwater

      - name: Run sanity tests
        run: |
          ansible-test sanity --docker default -v
        working-directory: ./ansible_collections/sivel/toiletwater

  units:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ansible:
          - ansible-base
          - https://github.com/ansible/ansible/archive/devel.tar.gz#egg=ansible-base
        python-version:
          - 2.7
          - 3.5
          - 3.6
          - 3.7
          - 3.8
          - 3.9
    steps:
      - name: Check out code
        uses: actions/checkout@v2
        with:
          path: ansible_collections/sivel/toiletwater

      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Install ansible ${{ matrix.ansible }}
        run: |
          python -m pip install --upgrade pip
          pip install ${{ matrix.ansible }}

      - name: Debug test env
        run: |
          ansible-test env
        working-directory: ./ansible_collections/sivel/toiletwater

      - name: Run unit tests
        run: |
          ansible-test units --docker default --python ${{ matrix.python-version }} -v
        working-directory: ./ansible_collections/sivel/toiletwater

  integration:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os:
          - centos7
          - centos8
          - ubuntu1804
        ansible:
          - ansible-base
          - https://github.com/ansible/ansible/archive/devel.tar.gz#egg=ansible-base
    steps:
      - name: Check out code
        uses: actions/checkout@v2
        with:
          path: ansible_collections/sivel/toiletwater

      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Install ansible ${{ matrix.ansible }}
        run: |
          python -m pip install --upgrade pip
          pip install ${{ matrix.ansible }}

      - name: Debug test env
        run: |
          ansible-test env
        working-directory: ./ansible_collections/sivel/toiletwater

      - name: Run integration tests
        run: |
          ansible-test integration --docker ${{ matrix.os }} -v
        working-directory: ./ansible_collections/sivel/toiletwater
